
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
background-image: url(fotos/fondoPantalla.jpg);
background-size: cover;
background-attachment: fixed;



}

nav{
    background: #e52d09;
    height: 100px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.emma-logo{
    height: 60px;
    margin-left: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(8, 8, 8);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    color: #cfcfdd;
    transition: .5s;
}
.checkbtn{
    font-size: 40px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.fondo_video{
    position: relative;
}
video{
    top: 0;
    width: 100%;
    object-fit: cover;
    
}

/*Bio */

.EmmaBio{
    width: 90vh;
    padding: 20px;
    
}

.sobreMi{
    width: 60%;
    padding-left: 70px;
    padding-top: 30px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 30px;
    
    
}

p{
	color: #f7f5f5;
    font-size: 18px;
    font-family:'Source Sans Pro', sans-serif;
    margin-top: 10px;

}
span{
	color:#110f0f;
}

h2{
	color: #e52d09;
}

button{
	outline: none;
	border: none;
	background: #e52d09;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	padding: 10px 25px;
	border-radius: 6px;
}
button span{
	color: #fff;
	font-weight: 500;
}
button span.material-icons-outlined{
	font-size: 24px;
}
button span.jam{
	font-size: 25px;
}


.videoReel{
    padding-top: 40px;
}


/*CAROUSEL */

h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}
.linea{
    background: #550b51;
    height: 5px;
    width: 100%;
    display: block;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    width: 95%;
    margin: auto;
    grid-gap:10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5;
}
.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,.5);

}
.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg)scale(1.3);
}

.light-box{
position: fixed;
top: 0;
left: 0;
background: rgba(0,0,0,.5);
transition: transform .3s ease-in-out;
width: 100%;
height: 100vh;
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
transform:scale(0);
}


.light-box img{
    width: 75vw;
    max-height: 70vh;
}
.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.next{
    display: block;
    background: #851919;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/*galeria */

@media screen and (max-width: 400px){
    .galeria{
        grid-template-columns: repeat(auto-fit,mimax(200px,1fr));
    }
    .close{
        top: 20px;
        right: 20px;
    }

}



@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .emma-logo{
        height: 40px;
        margin-left: 10px;
    }

    nav{
        background:#e52d09;
        height: 100vw;
        width: 100%;
        margin-top: 15px;
    }
    ul{
       /* position: fixed;*/
        width: 100%;
        height: 43vh;
        background: #dbe3eb;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    .EmmaBio{
        width: 40vh;
        padding: 10px;

}
}