@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --accent: #e63946;
    --dark: #17191D;
    --light: #f4f4f4;
    --overlay: rgba(23,25,29,0.8);
    --ease: all 0.3s ease 0s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: var(--light);
    
   
}

p, button, h1, h4 {
    color: var(--light);
    
}
.back{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

p, h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h4, button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    ;
    
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--dark);
    text-align: center
}

p {
    font-size: 18px;
    color: var(--dark);
}

h4 {
    font-size: 22px;
    color: var(--dark);
}

h2{
    color: #fff;
    margin-left: 10px;
}

.fa-home::before{
    margin: 10px;
}
.fa-camera::before{
    margin: 10px;
}


button {
    cursor: pointer;
    transition: var(--ease);
    
}

button:hover {
    transform: scale(1.02);
}

/* Boton volver */

.button_gallery{
    display: flex;
    justify-content:center;
    font-size: 22px;
    color:var(--dark);
    font-family:'Open Sans', sans-serif;
}
a:hover {
	color: #ff5241;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "top__section"
    "content__section"

}

.top__section {
    grid-area: top__section;
    min-height: 250px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". header .";
    background: linear-gradient(var(--light),var(--accent)), url(images/image-17.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header p {
    max-width: 570px;
    margin-bottom: 30px;
}

header button {
    width: 125px;
    background-color: var(--accent);
    border: none;
}

.content__section {
    grid-area: content__section;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". playlist__one ."
    ". playlist__two ."
    ". playlist__tree ."
    ;
    margin-bottom: 60px;
}

.playlist__one {
    grid-area: playlist__one;
}

.playlist__two {
    grid-area: playlist__two;
}

.playlist__tree {
    grid-area:playlist__tree; 
}

.playlist__title {
    margin: 30px 0;
}

.videos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.video {
    height: 180px;
    grid-column-start: span 3;
    position: relative;
    transition: var(--ease);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video:hover {
    transform: scale(1.02);
}

.video i {
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    opacity: 0.85;
    transition: var(--ease);
}

.video i:hover {
    opacity: 1;
}

/* footer */

body{
    line-height: 1.5;
    font-family: 'Source Sans Pro', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #0b0b0b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.foto-footer{
    width: 100%;
}
.foto-footer2{
    width: 100%;
}
.sandra{
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 13px;
    margin-top: 15px;
    width: 300px;
}